body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height of the viewport */
    margin: 0;
}

.rbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.bg {
    position: relative;
    display: inline-block;
}

.rbtn:hover {
    background-color: #038e5c;
}

.rbtn:active {
    background-color: #026c44;
    transform: scale(0.95);
}

.rbtn:focus {
    outline: 3px solid rgba(4, 170, 109, 0.5);
}